<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owner</title>
</head>
<body>
    <div style="width: 30%">
        <h4>Approved Users</h4>
        <ul style="columns: 2">
            {% for name in approved %}
                <li style="margin-bottom: 5px">{{ name }}</li>
            {% endfor %}
            {% for name in approved %}
                <form action="/owner/revoke/{{ name }}/">
                    <button class="btn" style="margin-bottom: 5px">Revoke</button>
                </form>
            {% endfor %}
        </ul>
    </div>
    <br><br>
    <div style="width: 30%">
        <h4>Pending Access Requests</h4>
        <ul style="columns: 2">
            {% for name in pending %}
                <li style="margin-bottom: 5px">{{ name }}</li>
            {% endfor %}
            {% for name in pending %}
                <form action="/owner/grant/{{ name }}/">
                    <button class="btn" style="margin-bottom: 5px">Approve</button>
                </form>
            {% endfor %}
        </ul>
    </div>
    <br><br>
    <form action="/files/{{ username }}">
        <button class="btn">View Files</button>
    </form>
    <br><br><br>
    <h4 style="color: red">WARNING!</h4>
    <p>Initialising will overwrite your private/public keypair and the symmetric key. It will also reset the list of trusted users.<br />Files that were encrypted with the old symmetric key will not be decryptable anymore.</p>
    <form action={% url 'initialise' %} method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <input class="form-control input-lg" name="owner_name" placeholder="Enter your name..." onfocus="placeholder=''" onblur="placeholder = 'Enter your name...'" />
            </div>
        </div>
        <button class="btn">Initialise</button>
    </form>
</body>
</html>