<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Files</title>
</head>
<body>
    <ul>
        {% for file in filenames %}
            <li><a href="/files/{{ username }}/download/{{ file }}/">{{ file }}</a></li>
        {% endfor %}
    </ul>

    <form method="post" enctype="multipart/form-data" action = "/files/{{ username }}/upload/">
        {% csrf_token %}
        <input type="file" name="upfile">
        <button type="submit">Upload</button>
    </form>
    <br>
    <form action={% url 'landing_page' %}>
        <button class="btn">Home</button>
    </form>
</body>
</html>